@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Roslindale Display light";
  src: url(fonts/Roslindale-DisplayLight-Testing.woff);
  font-style: normal;
}

@font-face {
  font-family: "Roslindale Display semibold";
  src: url(fonts/Roslindale-DisplayRegular-Testing.woff);
  font-style: normal;
}
